<!--==================== HEADER ====================-->
<header class="header mb-5" id="header">
    <nav class="nav container">
        <a  class="nav__logo2">
            LODGING <i class='bx bxs-home-alt-2'></i>
        </a>

        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link " style="cursor: pointer;">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Perfil </span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link active-link" style="cursor: pointer;">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Mis habitaciones </span>
                    </a>
                </li>

                <li class="nav__item">
                    <a class="nav__link " style="cursor: pointer;">
                        <i class='bx bx-building-house'></i>
                        <span>Reservas</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Theme change button -->
        <i class='bx bx-moon change-theme' id="theme-button"></i>
        <div> HOLA,&nbsp;{{Nombre}} </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav__button button" (click)="Salir()">Cerrar sesión</a>
    </nav>
</header>

<!--==================== HOME ====================-->


<div class="container mt-5 p-1">
    <div class="mt-5">
        <form class="mt-5" [formGroup]="HabitacionForm" (ngSubmit)="Ejecutar()">
            <h4 class="mt-5">Agregar nueva habitación</h4>

            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Nombre">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="Departamento">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Municipio</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="Municipio">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="Direccion">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">URL imagen</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Imagen">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Estado</label>
                        <select class="form-select" aria-label="Default select example" formControlName="Disponibilidad">
                            <option selected>...</option>
                            <option value="Libre">Libre</option>
                            <option value="Ocupado">Ocupado</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Costo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Costo">
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="floatingTextarea" formControlName="Descripcion"></textarea>
                            <label for="floatingTextarea">Descripción</label>
                        </div>
                    </div>
                </div>


            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            &nbsp;
            <button class="btn btn-primary" (click)="Actualizar()" *ngIf="HabilitarAct">Actualizar</button>
        </form>
    </div>

    <hr>
    <h4 class="mt-2">Mis habitaciones</h4>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Estado</th>

                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let Elem of Habitaciones let i = index">
                    <td>{{Elem.Nombres}}</td>
                    <td>{{Elem.Departamento}}</td>
                    <td>{{Elem.Ciudad}}</td>
                    <td>{{Elem.Direccion}}</td>
                    <td>{{Elem.Disponibilidad}}</td>
                    <td><button class="btn btn-primary" (click)="Editar(i)">Editar</button></td>
                    <!--<td><button class="btn btn-danger">Eliminar</button></td>-->
                </tr>
            </tbody>
        </table>
    </div>


</div>









<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div>
            <a href="" class="footer__logo">
                LodGing <i class='bx bxs-home-alt-2'></i>
            </a>
            <p class="footer__description">
                Nuestra visión es hacer que todas <br>
                las personas encuentren el mejor <br>
                lugar de residencia para ellos.
            </p>
        </div>

        <div class="footer__content">
            <div>
                <h3 class="footer__title">
                    Acerca de
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Características</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Noticias y Blogs</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">
                    Compañía
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">¿Cómo trabajamos?</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Capital</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Seguridad</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">
                    Soporte
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Preguntas frecuentes</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Centro de apoyo</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Contacta con nosotros</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">
                    Redes Sociales
                </h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram-alt'></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__info container">
        <span class="footer__copy">
            &#169; LodGing. Todos los derechos reservados
        </span>

        <div class="footer__privacy">
            <a href="#">Términos y condiciones</a>
            <a href="#">Política de privacidad</a>
        </div>
    </div>
</footer>