<section class="section" id="popular">        
    <div class="container">
        <a  class="button subscribe__button" style="float: right;">
            Regresar
        </a> &nbsp;
        <a class="nav__button button" style="float: right;">Cerrar sesión</a>
        <h1> R E S E R V A S</h1>
        habitaciones de calidad 
        <br>
        <hr> <br>

        <h4>Arrendatario(a):  asdasdasd</h4>
        <h4>Email: asdasd</h4>

            <div class="swiper-wrapper">
                <article class="popular__card swiper-slide"> 
                    <h3>Reservas Recibidas: </h3>                 <hr> <br>
                    <div class="popular__data" >                               
                        <h3>Habitacion Reservada:ssdfsdf</h3> 
                        <h4>sfsdfs</h4> 
                        <h6>Estado Actual: sdffsdfsdf  </h6>
                             <img src="sdfsdf" title="sdfsdf" class="popular__img" style="cursor: pointer;"> 
                            <h2 class="popular__price">
                               Precio:  sdfsdf  / 24h
                            </h2>
                            <h3 class="popular__title">
                                   sfsdfdsf
                            </h3>
                                <p class="popular__description">
                                    Direccion: sfdsdf
                                </p>


                   
                    <br>
                    <hr>            
                    </div>                           
                </article>                     
            </div>                                
     </div>                     
</section>



<!--==================== SUBSCRIBE ====================-->
<section class="subscribe section">
    <div class="subscribe__container container">
        <h1 class="subscribe__title">
            Oferta tu habitación
        </h1>
        <p class="subscribe__description">
            Ofrece tu pension en nuestro sitio
        </p>
        <a  class="button subscribe__button">
            Empezar
        </a>
    </div>
</section>