<main class="main">
    <!--==================== REGISTER ====================-->
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div class="home__data">
                <h1 class="home__title">
                    Registrarse
                </h1>
                <p class="home__description">
                    
                </p>
                <form > 

                        <input class="form-control mt-2" type="text" name="Nombre" placeholder="Primer Nombre"   formControlName="Nombre">
                        
                        <input class="form-control mt-2" type="text" name="Nombre2" placeholder="Segundo Nombre"  formControlName="Nombre2">

                        <input class="form-control mt-2" type="text" name="Apellido" placeholder="Primer Apellido"  formControlName="Apellido">
                        
                        <input class="form-control mt-2" type="text" name="Apellido2" placeholder="Segundo Apellido"   formControlName="Apellido2">

                        <input class="form-control mt-2" type="email" name="Email" placeholder="Correo"  formControlName="Email">
   
                        <input class="form-control mt-2" type="password" name="password" placeholder="Contraseña"  formControlName="password_2">
                        <br><br>
                        <label for="lang">Qué eres?</label>
                        <select class="form-control mt-2" name="Rol" id="Rol" formControlName="Rol">
                                <option value="Estudiante">Estudiante</option>
                                <option value="Arrendatario">Arrendatario</option>
                             </select>
                    <br><br><br>
                  <button type="submit" class="button">
                        R E G I S T R A R
                    </button>
                    &nbsp;
                    <button  class="button">
                        Iniciar Sesion 
                    </button>

                    
                </form>
              </div>

            <div class="home__images">
                <div class="home__orbe"></div>

                <div class="home__img">
                    <img src="../../../assets/img/register.svg" alt="">
                </div>
            </div>
        </div>
    </section>
