<div class="container" #printThis>
    <h4>Contrato</h4>
    <p>
        CONTRATO DE ARRENDAMIENTO DE BIEN INMUEBLE DESTINADO A VIVIENDA URBANA <br>

        Arrendador <strong>{{Estudiante.nombre}}</strong>, persona mayor de edad, con residencia y domicilio en la ciudad de
        <strong>{{Estudiante.ciudad}}</strong>, Departamento de <strong>{{Estudiante.departamento}}</strong>, identificado con la cédula de ciudadanía número
        CC <strong>{{Estudiante.identificacion}}</strong> expedida en Lorica, en calidad de propietario de la habitación ubicada
        en <strong>(xxxxxxxxxxxxxx)</strong> y quien en adelante será denominado como ARRENDADOR , y el señor
        <strong>(X.XXX.XXX.XXX)</strong>, persona, mayor de edad, con residencia y domicilio en la ciudad de
        <strong>(X.XXX.XXX.XXX)</strong> , departamento de <strong>(X.XXX.XXX.XXX)</strong>, identificado con la
        cédula de ciudadanía número <strong>(X.XXX.XXX.XXX)</strong> quien en adelante y para todos los efectos de
        este contrato se denominara EL ARRENDATARIO(A) quien será responsable solidariamente y de forma indivisible
        de las obligaciones derivadas de este contrato que será regido por las siguientes cláusulas:</p>
    <p>PRIMERA. -OBJETO. Por medio de este contrato EL ARRENDADOR entrega al ARRENDATARIO(A) y este declara que
        recibió a entera satisfacción un inmueble destinado a una habitación del ARRENDATARIO(A), ubicada en la
        CALLE 15 # 31-16 en el Barrio San Carlos, Ciudad de Lorica, Departamento de Córdoba.</p>
    <p>SEGUNDA. – DURACIÓN. El presente contrato tendrá una duración de SEIS (6) meses, contados a partir del día 01
        del mes de noviembre del año 2022 Finalizando el día 30 del mes de abril del año 2023.
    <p>TERCERA. - TERMINACIÓN Y PRÓRROGA DEL CONTRATO. Este contrato termina por vencimiento del término estipulado.
        Sin embargo, si ninguna de las partes mediante comunicaciones escritas por lo menos con tres (3) meses de
        antelación a su vencimiento, manifiesta su intención de darlo por terminado, operará la PRÓRROGA AUTOMÀTICA
        por el mismo término estipulado acá, es decir, SEIS (6) meses y así sucesivamente.</p>
    <div class="col-4">
        <img src="https://www.shutterstock.com/image-vector/manual-signature-documents-on-white-260nw-1389794327.jpg"
            alt="" srcset="">
        <div class="mb-3">
            <label for="formFile" class="form-label">Adjuntar firma</label>
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>

    <div>
        <button class="btn btn-primary" >Imprimir contrato</button>
    </div>



</div>
