<section class="section" id="popular">        
    <div class="container">
        <a  class="nav__button button" style="float: right;">Cerrar sesión</a>
        <h1> R E S E R V A S</h1>
        habitaciones de calidad 
        <br>
        <hr> <br>

        <h4>Usuario Activo: </h4>
        <h4>Email: </h4>

            <div class="swiper-wrapper">
                <article class="popular__card swiper-slide">                          
                    <div class="popular__data">                               
                        <h3></h3> 
                        <h4></h4> 
                        <h6>Estado:  </h6>
                             <img src="" title="" class="popular__img" style="cursor: pointer;"> 
                            <h2 class="popular__price">
                                sdfsdfs
                            </h2>
                            <h3 class="popular__title">
                                  sdfsdfsd
                            </h3>
                                <p class="popular__description">
                                    sdffsdfsdf
                                </p>


                    <form >
                    <br>
                    <h4>Formulario de reservas</h4>
                    <br>
                     <label for="date" > Fecha de ingreso: </label>
                    <input type="date" value="date" name="date" formControlName="FechaInicio"> <br>
                    <br>
                    <label for="date"> Fecha de salida: </label>
                   <input type="date" value=time name="time" formControlName="FechaFin"> <br> <br>
                   <label for="time"> Hora de Facturacion:  </label>
                   <input type="time" value=time name="time" formControlName="Hora"> <br> <br>
                   <label for="Dias">Dias a hospedar: </label>
                   <input type="number" name="Precio" id="" placeholder="dias a hospedar" #Dias > <br>
                   <br>
                   <h5>Total a Cancelar: </h5>
                   <br>
                    <button type="submit" class="button">
                    Reservar</button>
                    </form>
                    <br>
                    <a  class="button"  >
                        Cancelar 
                    </a>             
                    </div>                           
                </article>                     
            </div>                                
     </div>                     
</section>
          

  