<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo2">
            LODGING <i class='bx bxs-home-alt-2'></i>
        </a>

        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link " style="cursor: pointer;">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Perfil </span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link active-link" style="cursor: pointer;">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Mis reservas </span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link " style="cursor: pointer;">
                        <i class='bx bx-building-house'></i>
                        <span>Alojamientos</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Theme change button -->
        <i class='bx bx-moon change-theme' id="theme-button"></i>
        <div> HOLA,&nbsp;Oscar </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav__button button">Cerrar sesión</a>
    </nav>
</header>

<!--==================== HOME ====================-->

<div class="home__container container grid">
</div>
<div class="container">

    <h4>Listados de reservas</h4>
    <div class="row">
        <div class="col-4">
            <img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/209178324.jpg?k=610178af150781f4fc0c683164e5a28b5cc6d95ae3adeca96162c3586c7bad6a&o="
                alt="" srcset="">
        </div>

        <div class="col">
            <div>
                <div class="row">
                    <div class="col">
                        <p>Fecha de reserva: 12/12/2022</p>
                    </div>
                    <div class="col">
                        <p>Arrendatario: <strong>José Petro</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Costo mensual: <strong>$400.400 COP</strong></p>
                    </div>
                    <div class="col">
                        <p> <button type="submit" class="btn btn-primary">Ver detalles</button></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mt-5">Activa</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/209178324.jpg?k=610178af150781f4fc0c683164e5a28b5cc6d95ae3adeca96162c3586c7bad6a&o="
                alt="" srcset="">
        </div>

        <div class="col">
            <div>
                <div class="row">
                    <div class="col">
                        <p>Fecha de reserva: 12/12/2022</p>
                    </div>
                    <div class="col">
                        <p>Arrendatario: <strong>José Petro</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Costo mensual: <strong>$400.400 COP</strong></p>
                    </div>
                    <div class="col">
                        <p> <button type="submit" class="btn btn-primary">Ver detalles</button></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger mt-5">Terminada</button>
            </div>
        </div>
    </div>

</div>









<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div>
            <a href="" class="footer__logo">
                LodGing <i class='bx bxs-home-alt-2'></i>
            </a>
            <p class="footer__description">
                Nuestra visión es hacer que todas <br>
                las personas encuentren el mejor <br>
                lugar de residencia para ellos.
            </p>
        </div>

        <div class="footer__content">
            <div>
                <h3 class="footer__title">
                    Acerca de
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Características</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Noticias y Blogs</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">
                    Compañía
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">¿Cómo trabajamos?</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Capital</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Seguridad</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">
                    Soporte
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Preguntas frecuentes</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Centro de apoyo</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Contacta con nosotros</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">
                    Redes Sociales
                </h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram-alt'></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__info container">
        <span class="footer__copy">
            &#169; LodGing. Todos los derechos reservados
        </span>

        <div class="footer__privacy">
            <a href="#">Términos y condiciones</a>
            <a href="#">Política de privacidad</a>
        </div>
    </div>
</footer>