
<main class="main">
        <!--==================== LOGIN ====================-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">
                        Iniciar <br> Sesión
                    </h1>
                    <p class="home__description">
                        
                    </p>

                    <form [formGroup]="LoginForm" (ngSubmit)="Ejecutar()" > 

                        <input class="form-control" type="email" name="Email" placeholder="Correo" formControlName="user">
       
                            <input class="form-control mt-2" type="password" name="password" placeholder="Contraseña" formControlName="password">
                        <br> <br>
                      <button type="submit" class="button">
                            Acceder
                        </button>
                        &nbsp; 
                        <button class="button" (click)="Registrar()">
                            REGISTRAR USUARIO
                        </button>

                    </form>
                  </div>

                <div class="home__images">
                    <div class="home__orbe"></div>

                    <div class="home__img">
                        <img src="../../../assets/img/log.svg" alt="">
                    </div>
                </div>
            </div>
            <br>
        </section>



        
